* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

aside {
    background-color: var(--matteblack);
    display: flex;
    width: 300px;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.profile-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.profile-container img {
    width: 175px;
    height: 175px;
    margin-top: 10px;
}

.profile-container-description {
    padding: 0;
    margin: 10px 0;
}

.profile-container-description h3 {
    font-weight: 200;
}

.profile-container-description > * {
    margin: 0;
} 

.btn-container {
    padding: 0;
    margin: 0;
    margin-top: auto;
}

.btn-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.btn-container-table {
    border-collapse: collapse;
    width: 100%;
}

.btn-container-table tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: auto;

    border: 1px solid white; */
}

.btn-container-table tr {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-container-table tr td {
    border: none;
    border-bottom: 1px solid var(--cyanshadow);
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn-container-table button {
    padding: 5px 10px;
    background: transparent;
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: left;
    width: 100%;
    cursor: pointer;
}

.btn-container-table button:hover {
    background-color: var(--white3);
    transition: 0.1s ease-in-out;
}

.btn-container-table button h2 {
    font-weight: 200;
    margin-left: 20px;
}