@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-Black.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Gidole;
  src: url('../public/fonts/gidole/Gidole-Regular.ttf');
}

:root {
  --darkBlueBackground: #092635;
  --cyanshadow: #74e7f6;
  --blackshadow: #000000;
  --matteblack: rgb(45, 44, 44);
  --white3: rgba(255, 255, 255, 0.3);
  --white: rgb(255, 255, 255);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--white);
  background-color: var(--darkBlueBackground);
  font-family: Montserrat, Gidole;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
