@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-Black.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/static/Montserrat-Light.ttf');
  font-weight: 400;
}
 
@font-face {
  font-family: Gidole;
  src: url('../public/fonts/gidole/Gidole-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 400;
}

:root {
  --darkBlueBackground: #092635;
  --cyanshadow: #68d2e0;
  --cyan2: #71e4f4;
  --blackshadow: #000000;
  --matteblack: rgb(39, 36, 36);
  --white3: rgba(255, 255, 255, 0.1);
  --white: rgb(255, 255, 255);
  --green: rgb(10, 139, 10);
  --warningRed: rgb(200, 34, 34);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--darkBlueBackground);
  font-family: Montserrat, Gidole;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

button {
  border: none;
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
