* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
}

.signup-container {
    background-color: var(--matteblack);
    padding: 2% 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px var(--cyanshadow);
    border: none;
    outline: none;
}

.signup-container h1 {
    text-align: center;
}