* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
}

.signup-container {
    background-color: var(--matteblack);
    padding: 2% 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px var(--cyanshadow);
    border: none;
    outline: none;
    align-items: center;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
}

.signup-container h1 {
    text-align: center;
}

.email-container, .account-name-container, 
.passwords-container, .role-select-container {
    display: grid;
    margin: 5px 0;
    
    /* border: 1px solid white; */
}

.confirm-password-container {
    margin-top: 10px;
}

.signup-container input, .signup-container select {
    padding: 5px;
    width: 100%;
    outline: none;
    border: none;
}

.warning-msg {
    text-align: center;
}

.password-mismatch-msg {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--warningRed);
    font-weight: bold;
}

#submit-btn {
    margin: 10px auto;
    width: 135px;
    font-weight: bold;
    padding: 3% 2%;
    cursor: pointer;
    background-color: var(--blackshadow);
    font-size: 14px;
    color: var(--white);
    border-radius: 10px;
    text-align: center;
}

#submit-btn:hover {
    background-color: var(--white3);
    transition: 0.2s ease-in-out;
}

.login-desc a {
    color: var(--white);
}

.login-desc a:hover {
    color: var(--cyanshadow);
} 

.confirm-and-show-container {
    display: flex;
}

#show-password-btn {
    width: 30px;
    padding: 3px 0;
    border: none;
    margin: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}

#show-password-btn img {
    width: 85%;
    padding: 0;
    margin: 0 3px 0;
    align-items: center;
}

#show-password-btn:hover {
    background-color: var(--white3);
}